<div class="note active">
    <a href="/notes" class="xmark"><i class="fa-solid fa-xmark"></i></a>

    <form class="form-edit" th:action="@{'/notes/edit/' + ${noteToEdit.id}}" th:method="post">
        <input class="title" name="title" placeholder="Add title" th:value="${noteToEdit.title}">

        <textarea class="note-text" name="content" placeholder="Add text" th:text="${noteToEdit.content}"></textarea>

        <p class="error new-note" th:if="${emptyValueError != null}" th:text="${emptyValueError}"></p>

        <button type="submit" class="edit-btn">Save</button>
    </form>

    <form th:action="@{'/notes/delete/' + ${noteToEdit.id}}" th:method="delete">
        <button type="submit" class="delete-btn">Delete</button>
    </form>
</div>
