<form class="note new" th:action="@{'/notes/new'}" th:method="post">
    <a href="/notes" class="xmark"><i class="fa-solid fa-xmark"></i></a>

    <input class="title" name="title" placeholder="Add title"
           th:value="${noteData.title}"/>

    <textarea class="note-text" name="content" placeholder="Add text"
              th:text="${noteData.content}"></textarea>
    <p class="error new-note" th:if="${emptyValueError != null}" th:text="${emptyValueError}"></p>

    <button class="create">Create</button>
</form>