<div class="content admin-panel" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block sec:authorize="!isAuthenticated()">
        <th:block th:insert="~{'error/403'}"></th:block>
    </th:block>

    <th:block sec:authorize="!isAuthenticated()" th:if="${serverError != null}">
        <th:block th:insert="~{'error/' + ${errorCode}}"></th:block>
    </th:block>

    <th:block sec:authorize="isAuthenticated()" th:if="${serverError == null}">
        <h1>Admin panel</h1>

        <div class="admin-panel-container">
            <th:block th:if="${lowerLevelUsers != null}">
                <table class="admin-panel-users">
                    <tr class="fields">
                        <th id="header-email">Email</th>
                        <th id="header-username">Username</th>
                        <th id="header-role">Roles</th>
                    </tr>
                    <tr class="fill-space"></tr>
                </table>

                <th:block th:each="user: ${lowerLevelUsers}">
                    <th:block th:if="${userToEdit != null && userToEdit.id == user.id}">
                        <th:block th:insert="~{fragments/admin/admin-user-form-edit}"></th:block>
                    </th:block>

                    <th:block th:unless="${userToEdit != null && userToEdit.id == user.id}">
                        <th:block th:insert="~{fragments/admin/admin-user-form}"></th:block>
                    </th:block>
                </th:block>
            </th:block>
        </div>

        <th th:unless="${lowerLevelUsers != null}">
            <div class="no-users">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <p>No users available for administration.</p>
            </div>
        </th>
    </th:block>
</div>