<div class="content contact">
    <th:block th:if="${emailSent == false}">
        <h2>Contact Me</h2>


        <p th:if="${valueError == null || valueError == ''}">
            Please use this form to contact me for any question, request or suggestion you might have.</p>

        <p th:if="${valueError != null && valueError.length > 0}"
           class="error"
           th:text="${valueError}"></p>

        <form class="form contact-us"
              th:method="post"
              th:action="@{'/contacts/send'}">

            <h4>Send Us A Quick Message</h4>

            <input type="text" name="name" placeholder="Name"
                   th:value="${contactFormDto.name}"/>

            <input type="text" name="email" placeholder="Email address"
                   th:value="${contactFormDto.email}"/>

            <input type="text" name="phone" placeholder="Phone Number"
                   th:value="${contactFormDto.phone}"/>

            <textarea name="content" cols="30" rows="10" placeholder="Your Comment"
                      th:text="${contactFormDto.content}"></textarea>

            <input type="submit" class="submit" value="Submit Message"/>
        </form>
    </th:block>

    <div class="submit-ok" th:if="${emailSent == true}">
        <i class="fa-solid fa-envelope-circle-check"></i>
        <h3>Thank you for your message! <br/> I'll get back to you in due course.</h3>
    </div>


</div>