<div class="content events" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block sec:authorize="!isAuthenticated()">
        <th:block th:insert="~{'error/403'}"></th:block>
    </th:block>

    <th:block sec:authorize="isAuthenticated()" th:if="${serverError != null}">
        <th:block th:insert="~{'error/' + ${errorCode}}"></th:block>
    </th:block>

    <th:block sec:authorize="isAuthenticated()" th:if="${serverError == null}">

        <div class="header-menu">
            <h2><i class="fa-regular fa-calendar-check"></i>Events</h2>
            <form th:if="${createNewEvent == null}" th:action="@{'/events/new'}" th:method="get">
                <button type="submit" class="delete-btn">Create new event</button>
            </form>
        </div>

        <div class="holidays-info">
            <p id="this-month-holidays"></p>
            <p id="next-month-holidays"></p>
        </div>

        <script th:src="@{/js/holidays.js}"></script>

        <th:block>
            <ul class="events-list">
                <th:block th:if="${createNewEvent != null}" th:insert="~{fragments/event/empty-event}"></th:block>

                <th:block th:if="${editEventId != null}"
                          th:insert="~{fragments/event/edit-event-item}"></th:block>

                <th:block th:if="${viewEventId != null}"
                          th:insert="~{fragments/event/event-details}"></th:block>

                <th:block th:if="${events.size() > 0}" th:each="event: ${events}">
                    <th:block th:unless="${(editNoteId != null && editEventId == event.id) ||
                                           (viewNoteId != null && viewEventId == event.id)}"
                              th:insert="~{fragments/event/event-item}"></th:block>
                </th:block>
            </ul>
        </th:block>

        <th:block th:if="${events.size() == 0 && createNewEvent == null}">
            <ul class="events-list empty">
                <div class="new-note">
                    <th:block th:insert="~{fragments/error/no-content}"></th:block>
                    </form>
                </div>
            </ul>
        </th:block>
    </th:block>
</div>