<div class="content events" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
     xmlns:th="http://www.w3.org/1999/html">
    <th:block sec:authorize="!isAuthenticated()">
        <th:block th:insert="~{'error/403'}"></th:block>
    </th:block>

    <th:block sec:authorize="isAuthenticated()" th:if="${serverError != null}">
        <th:block th:insert="~{'error/' + ${errorCode}}"></th:block>
    </th:block>

    <th:block sec:authorize="isAuthenticated()" th:if="${serverError == null}">

        <div class="header-menu">
            <h2><i class="fa-regular fa-calendar-check"></i>Events</h2>
            <form th:if="${createNewEvent == null}" th:action="@{'/events/new'}" th:method="get">
                <button type="submit" class="delete-btn">Create new event</button>
            </form>
        </div>

        <div class="holidays-info">
            <p id="this-month-holidays"></p>
            <p id="next-month-holidays"></p>
        </div>

        <script th:src="@{/js/holidays.js}"></script>

        <th:block th:insert="~{fragments/event/calendar}"></th:block>

    </th:block>
</div>