<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DOTODO Task Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.ico"/>
    <th:block th:if="${pageName == 'about'}">
        <script type="text/javascript"
                src="https://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario&key=AsbApNxLCsT0b3ESXiXJqLolw913S-mfrDHrIA88C00FFD2HCe-5H0XQzaqEUeFk"
                async defer></script>
        <script type="text/javascript">
            function loadMapScenario() {
                var map = new Microsoft.Maps.Map(document.getElementById('bing-map'), {
                    credentials: 'AsbApNxLCsT0b3ESXiXJqLolw913S-mfrDHrIA88C00FFD2HCe-5H0XQzaqEUeFk',
                    center: new Microsoft.Maps.Location(42.6977, 23.3219), // Sofia, Bulgaria coordinates
                    mapTypeId: Microsoft.Maps.MapTypeId.road,
                    zoom: 10
                });

                // Add a pushpin at the center of the map
                var pushpin = new Microsoft.Maps.Pushpin(map.getCenter(), null);
                map.entities.push(pushpin);
            }
        </script>
    </th:block>
</head>