<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>DOTODO Task Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/logo.ico"/>
    <th:block th:if="${pageName == 'about'}">
        <script type="text/javascript"
                src="https://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario&key=AsbApNxLCsT0b3ESXiXJqLolw913S-mfrDHrIA88C00FFD2HCe-5H0XQzaqEUeFk"
                async defer></script>
        <script th:src="@{/js/bingMap.js}"></script>
    </th:block>
</head>