<div class="nav" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:if="${showAuthModal != null}"
         class="backdrop">
    </div>

    <div class="top-bar">
        <th:block sec:authorize="isAuthenticated()">
            <p class="greeting"
               th:if="${#authentication.principal.firstName != null && #authentication.principal.firstName != '' }"
               th:text="${'Hello, ' + #authentication.principal.firstName}">
            </p>
            <p class="greeting"
               th:unless="${#authentication.principal.firstName != null && #authentication.principal.firstName != '' }"
               th:text="${'Hello, ' + #authentication.principal.username}">
            </p>
        </th:block>

        <ul class="top-bar-controls">
            <th:block th:each="item : ${topbarNavItems}">
                <li sec:authorize="!isAuthenticated()"
                    th:if="${item.get('name') == 'login' || item.get('name') == 'register'}">
                    <a th:href="${item.get('href')}" th:text="${item.get('name')}"></a>
                </li>

                <li sec:authorize="isAuthenticated() && hasAnyRole('SUPER_ADMIN','ADMIN','MODERATOR')"
                    th:if="${item.get('name') == 'administration'}">
                    <a th:href="${item.get('href')}" th:text="${item.get('name')}"></a>
                </li>

                <li sec:authorize="isAuthenticated()"
                    th:if="${item.get('name') == 'logout'}">
                    <form th:method="post" th:action="${item.get('href')}">
                        <input type="submit" th:value="${item.get('name')}"/>
                    </form>
                </li>
            </th:block>
        </ul>


    </div>

    <div class="sidebar">
        <div class="navigation">
            <a th:href="@{/}" id="logo">
                <img src="/images/logo_dark.png" alt="DOTODO"/>
            </a>
            <ul class="menu">
                <th:block th:each="item: ${sidebarNavItems}">
                    <th:block th:if="${item.get('name') != 'profile'} or
                                    (${item.get('name') == 'profile' and #authorization.expression('isAuthenticated()')})">
                        <li th:class="${pageName == item.get('name') ? item.get('name') + ' active' : item.get('name')}">
                            <a th:href="${item.get('href')}">
                                <i th:class="${item.get('icon')}"></i>
                                <p th:text="${item.get('name')}"></p>
                            </a>
                        </li>
                    </th:block>
                </th:block>
            </ul>
        </div>

        <div class="connect">
            <th:block th:each="item: ${connectNavItems}">
                <a th:href="${item.get('href')}" th:id="${item.get('name')}" target="_blank" rel="noreferrer">
                    <i th:class="${item.get('icon')}"></i>
                </a>
            </th:block>
        </div>
    </div>

    <ul class="bottom-bar">
        <th:block th:each="item : ${bottombarNavItems}">
            <li>
                <a th:href="${item.get('href')}" th:text="${item.get('name')}"></a>
            </li>
        </th:block>
    </ul>
</div>