<div class="content news">
    <div th:if="${detailedArticle == null && articleEditDto == null}">
        <form class="new-article-btn" th:action="@{'/news/new'}" th:method="get">
            <button type="submit" >Create article</button>
        </form>
        <h3>Latest news and updates</h3>
        <ul class="articles" th:if="${articles != null && articles.size() > 0}">
            <li class="article" th:each="article: ${articles}">
                <th:block th:insert="~{fragments/news/news-details}"></th:block>
            </li>
        </ul>
        <div class="paging" th:if="${articles != null && articles.size() > 0}">
            <ul>
                <li class="selected">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">></a>
                </li>
            </ul>
            <span>Page 1 of 2</span>
        </div>

        <div class="articles" th:if="${articles == null || articles.size() == 0}">
            <p>There are no articles yet.</p>
        </div>
    </div>

    <th:block th:if="${detailedArticle != null}" th:insert="~{fragments/news/article-details}"></th:block>

    <th:block th:if="${articleEditDto != null}" th:insert="~{fragments/news/edit-article-item}"></th:block>
</div>