<div class="content news">
    <div>
        <h3>Latest news and updates</h3>
        <ul class="articles" th:if="${news != null && news.size() > 0}">
            <li class="article" th:each="article: ${news}">
                <th:block th:insert="~{fragments/news-details}"></th:block>
            </li>
        </ul>
        <div class="paging" th:if="${news != null && news.size() > 0}">
            <ul>
                <li class="selected">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">></a>
                </li>
            </ul>
            <span>Page 1 of 2</span>
        </div>

        <div class="articles" th:if="${news == null || news.size() > 0}">
            <p>There are no articles yet.</p>
        </div>
    </div>
</div>