<div class="content notes" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block sec:authorize="!isAuthenticated()">
        <th:block th:insert="~{fragments/error/error-403}"></th:block>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
        <div class="header-menu">
            <h2><i class="fa-solid fa-note-sticky"></i>Notes</h2>
            <form th:if="${createNewNote == null}" th:action="@{'/notes/new'}" th:method="get">
                <button type="submit" class="delete-btn">Create new note</button>
            </form>
        </div>

        <th:block th:if="${notes.size() > 0}">
            <ul class="notes-list">
                <th:block th:if="${createNewNote != null}" th:insert="~{fragments/note/empty-note}"></th:block>

                <th:block th:if="${editNoteId != null}"
                          th:insert="~{fragments/note/edit-note-item}"></th:block>

                <th:block th:if="${viewNoteId != null}"
                          th:insert="~{fragments/note/note-details}"></th:block>

                <th:block th:each="note: ${notes}">
                    <th:block th:unless="${(editNoteId != null && editNoteId == note.id) ||
                                           (viewNoteId != null && viewNoteId == note.id)}"
                              th:insert="~{fragments/note/note-item}"></th:block>
                </th:block>
            </ul>
        </th:block>

        <th:block th:unless="${notes.size() > 0}">
            <ul class="notes-list empty">
                <div class="new-note">
                    <th:block th:insert="~{fragments/error/no-content}"></th:block>

                    <form class="new-note" th:action="@{'/notes/new'}" th:method="post">
                        <input class="title" placeholder="Note title" name="title" th:text="${noteData?.title ?: ''}"/>
                        <textarea class="note-text" placeholder="Content" name="content"
                                  th:text="${noteData?.content ?: ''}"></textarea>
                        <p class="error new-note" th:if="${emptyValueError != null}" th:text="${emptyValueError}"></p>
                        <button class="add-note" type="submit">Add</button>
                    </form>
                </div>
            </ul>
        </th:block>
    </th:block>
</div>