<div class="content notes" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <th:block sec:authorize="!isAuthenticated()">
        <th:block th:insert="~{'error/403'}"></th:block>
    </th:block>

    <th:block sec:authorize="isAuthenticated()" th:if="${serverError != null}">
        <th:block th:insert="~{'error/' + ${errorCode}}"></th:block>
    </th:block>

    <th:block sec:authorize="isAuthenticated()" th:if="${serverError == null}">
        <div class="header-menu">
            <h2><i class="fa-solid fa-note-sticky"></i>Notes</h2>
            <form th:if="${createNewNote == null}" th:action="@{'/notes/new'}" th:method="get">
                <button type="submit" class="delete-btn">Create new note</button>
            </form>
        </div>

        <th:block>
            <ul class="notes-list">
                <th:block th:if="${createNewNote != null}" th:insert="~{fragments/note/empty-note}"></th:block>

                <th:block th:if="${editNoteId != null}"
                          th:insert="~{fragments/note/edit-note-item}"></th:block>

                <th:block th:if="${viewNoteId != null}"
                          th:insert="~{fragments/note/note-details}"></th:block>

                <th:block th:if="${notes.size() > 0}" th:each="note: ${notes}">
                    <th:block th:unless="${(editNoteId != null && editNoteId == note.id) ||
                                           (viewNoteId != null && viewNoteId == note.id)}"
                              th:insert="~{fragments/note/note-item}"></th:block>
                </th:block>
            </ul>
        </th:block>

        <th:block th:if="${notes.size() == 0 && createNewNote == null}">
            <ul class="notes-list empty">
                <div class="new-note">
                    <th:block th:insert="~{fragments/error/no-content}"></th:block>
                    </form>
                </div>
            </ul>
        </th:block>
    </th:block>
</div>