<form class="auth-form register"
      th:method="post"
      th:action="@{'/auth/register'}">

    <button class="xmark"><i class="fa-solid fa-xmark"></i></button>

    <div class="auth-fields">
        <div class="user-container">
            <div class="email">
                <label for="email">Email</label>
                <div class="form-input">
                    <i class="fa-solid fa-envelope"></i>
                    <input th:class="${errors != null && errors['email'] != null ? 'error-field' : ''}"
                           id="email" name="email" type="text" th:value="${email}"/>

                    <!-- more value props:
                             onChange={changeHandler}
                        onBlur={()=> focusHandler(FORM_FIELDS.email)} -->
                </div>

                <div class="error auth register"
                     th:text="${errors != null && errors['email'] != null ? errors['email'] : ''}"></div>
            </div>

            <div class="username">
                <label for="username">Username</label>
                <div class="form-input">
                    <i class="fa-solid fa-user"></i>
                    <input th:class="${errors != null && errors['username'] != null ? 'error-field' : ''}"
                           id="username" name="username" type="text" th:value="${username}"/>
                    <!-- more value props:
                             onChange={changeHandler}
                        onBlur={()=> focusHandler(FORM_FIELDS.username)} /> -->
                </div>

                <div class="error auth register"
                     th:text="${errors != null && errors['username'] != null ? errors['username'] : ''}"></div>
            </div>
        </div>

        <div class="password-container">
            <div class="password">
                <label for="password">Password</label>
                <div class="form-input">
                    <i class="fa-solid fa-key"></i>
                    <input th:class="${errors != null && errors['password'] != null ? 'error-field' : ''}"
                           id="password" name="rawPassword" type="password"/>
                    <!-- more value props:
                             onChange={changeHandler}
                        onBlur="focusHandler(FORM_FIELDS.password) -->
                </div>

                <div class="error auth register"
                     th:text="${errors != null && errors['password'] != null ? errors['password'] : ''}"></div>
            </div>

            <div class="rePassword">
                <label for="rePassword">Repeat password</label>
                <div class="form-input">
                    <i class="fa-solid fa-key"></i>
                    <input th:class="${errors != null && errors['rePassword'] != null ? 'error-field' : ''}"
                           id="rePassword" name="rePassword" type="password"/>
                    <!-- more value props:
                             onChange={changeHandler}
                        onBlur={()=>
                    focusHandler(FORM_FIELDS.rePassword)} -->
                </div>

                <div class="error auth register"
                     th:text="${errors != null && errors['rePassword'] != null ? errors['rePassword'] : ''}"></div>
            </div>
        </div>
    </div>

    <div th:if="${errors != null && errors['register'] != null}" class="error auth register"
         th:text="${errors['register']}"></div>

    <button class="register">Register</button>
</form>