<form class="auth-form register"
      th:method="post"
      th:action="@{'/auth/register'}">

    <a th:href="${pageName != 'home' ? '/' + pageName : '/'}" class="button xmark">
        <i class="fa-solid fa-xmark"></i>
    </a>

    <div class="auth-fields">
        <div class="user-container">
            <div class="email">
                <label for="email">Email</label>
                <div class="form-input">
                    <i class="fa-solid fa-envelope"></i>
                    <input th:class="${errors != null && errors['email'] != null ? 'error-field' : ''}"
                           required id="email" name="email" type="text" th:value="${userRegisterInfo.email}"/>

                    <!-- more value props:
                             onChange={changeHandler}
                        onBlur={()=> focusHandler(FORM_FIELDS.email)} -->
                </div>

                <div class="error auth register"
                     th:text="${errors != null && errors['email'] != null ? errors['email'] : ''}"></div>
            </div>

            <div class="username">
                <label for="username">Username</label>
                <div class="form-input">
                    <i class="fa-solid fa-user"></i>
                    <input th:class="${errors != null && errors['username'] != null ? 'error-field' : ''}"
                           required
                           minlength="5"
                           maxlength="128"
                           id="username" name="username" type="text" th:value="${userRegisterInfo.username}"/>
                    <!-- more value props:
                             onChange={changeHandler}
                        onBlur={()=> focusHandler(FORM_FIELDS.username)} /> -->
                </div>

                <div class="error auth register"
                     th:text="${errors != null && errors['username'] != null ? errors['username'] : ''}"></div>
            </div>
        </div>

        <div class="password-container">
            <div class="password">
                <label for="rawPassword">Password</label>
                <div class="form-input">
                    <i class="fa-solid fa-key"></i>
                    <input th:class="${errors != null && errors['rawPassword'] != null ? 'error-field' : ''}"
                           required
                           minlength="6"
                           id="rawPassword" name="rawPassword" type="password"/>
                    <!-- more value props:
                             onChange={changeHandler}
                        onBlur="focusHandler(FORM_FIELDS.password) -->
                </div>

                <div class="password-error-container">
                    <div class="error auth register"
                         th:text="${errors != null && errors['rawPassword'] != null ? errors['rawPassword'] : ''}">
                    </div>

                    <i th:if="${errors != null && errors['rawPassword'] != null}"
                       class="error fa-solid fa-triangle-exclamation"></i>

                    <div th:if="${errors != null && errors['rawPassword'] != null}"
                         class="password-info">Password must be at least 6 characters long
                        and should contain at least one number, uppercase and lowercase letter.
                    </div>
                </div>


            </div>

            <div class="rePassword">
                <label for="rePassword">Repeat password</label>
                <div class="form-input">
                    <i class="fa-solid fa-key"></i>
                    <input th:class="${errors != null && errors['rePassword'] != null ? 'error-field' : ''}"
                           id="rePassword" name="rePassword" type="password"/>
                </div>

                <div class="error auth register"
                     th:text="${errors != null && errors['rePassword'] != null ? errors['rePassword'] : ''}"></div>
            </div>
        </div>
    </div>

    <div th:if="${errors != null && errors['register'] != null}" class="error auth register user-exists"
         th:text="${errors['register']}"></div>

    <button class="register">Register</button>
</form>