<a th:href="@{'/profile/notes/' + ${note.id}}">
    <div class="note inactive">
        <h3 th:text="${note.title}"></h3>
        <p th:class="${note.dueDaysHours != null and #maps.size(note.dueDaysHours) > 0} ? 'with-due' : ''"
           th:text="${note.content}"></p>

        <th:block th:if="${note.dueDaysHours != null and #maps.size(note.dueDaysHours) > 0}">
            <div class="due" th:if="${note.dueDaysHours['days'] != null && note.dueDaysHours['days'] != 0}"
                 th:text="${'Due in ' + note.dueDaysHours['days'] + ' days'}"></div>

            <div class="due" th:if="${note.dueDaysHours['hours'] != null && note.dueDaysHours['hours'] >= 1}"
                 th:text="${'Due in ' + note.dueDaysHours['hours'] + ' hours'}"></div>
            <div class="due" th:if="${note.dueDaysHours['hours'] != null && note.dueDaysHours['hours'] == 0}">
                Due in less than an hour</div>
            <div class="due" th:if="${note.dueDaysHours['hours'] != null && note.dueDaysHours['hours'] < 0}">
                Due has expired</div>
        </th:block>
    </div>
</a>

