<div class="expiring-notes">
    <h1>Notes close to expiry</h1>

    <th:block th:if="${expiringNotes != null}">
        <ul class="notes-list" th:each="note : ${expiringNotes}">
            <th:block th:insert="~{fragments/profile/profile-note-details}"></th:block>
        </ul>
    </th:block>

    <th:block th:unless="${expiringNotes != null}">
        <div class="error-page no-content">Looks like you don't have any notes yet.
            <br/>
            You can start from <a href="/notes">here.</a>
        </div>
    </th:block>
</div>