<div class={activeNoteId === note._id ? "note-details active" : "note"} onClick={() => setActiveNoteId(note._id)}>
{activeNoteId === note._id &&
<button class="xmark" onClick={handleXmarkClick}>
    <i class="fa-solid fa-xmark" />
</button>}

<div class="heading-row">
    <h3>{note.title}</h3>
    <p>{`Status: ${note.isArchived ? 'Archived' : 'Active'}`}</p>
</div>

<div class="dates-row">
    <p>{`Initiated on: ${note.startDate}`}</p>
    {!note.completedOn
    ? <p>{`Due date: ${note.dueDate}`}</p>
    : <p>{`Completed on: ${note.completedOn}`}</p>}
</div>

<p class="expiring-notes-content">{note.content}</p>
</div>