<div class="profile-edit">
    <a href="/profile" class="xmark"><i class="fa-solid fa-xmark"></i></a>

    <form class="form-edit"
          th:action="@{'/profile/edit'}"
          th:method="post"
          enctype="multipart/form-data">
        <div class="personal">
            <label class="first-name" for="firstName">First name:
                <input id="firstName" class="name" name="firstName" placeholder="Add first name"
                       th:value="${profileDetails.firstName}">
            </label>

            <label class="last-name" for="lastName">Last name:
                <input id="lastName" class="name" name="lastName" placeholder="Add last name"
                       th:value="${profileDetails.lastName}">
            </label>

            <label class="username" for="username">Username:
                <input id="username" class="username" name="username" placeholder="Add username"
                       required
                       th:value="${profileDetails.username}">
            </label>

            <label class="dob" for="dob">Date of birth:
                <input id="dob" type="date" name="dob"
                       th:disabled="${blockDobEdit}"
                       th:value="${dateDoEdit}">
            </label>
        </div>

        <div class="profile-image">
            <th:block th:if="${profileDetails.imgUrl != null}">
                <img th:src="${profileDetails.imgUrl}" alt=""/>
            </th:block>

            <th:block th:if="${profileDetails.imgUrl == null}">
                <i class="fa-solid fa-user"></i>
            </th:block>

            <input type="file" id="profilePicture" name="profilePicture" accept="image/*">
        </div>

        <div class="contact">
            <label class="email" for="email">Email:
                <input id="email" class="email" name="email" placeholder="Add email"
                       required
                       th:value="${profileDetails.email}">
            </label>

            <label class="phone" for="phoneNumber">Phone:
                <input id="phoneNumber" class="phoneNumber" name="phoneNumber" placeholder="Add phone #"
                       th:value="${profileDetails.phoneNumber}">
            </label>

            <label class="address" for="address">Address:
                <input id="address" class="address" name="address" placeholder="Add address"
                       th:value="${profileDetails.address}">
            </label>

        </div>

        <th:block th:if="${valueErrors != null && !valueErrors.isEmpty()}">
            <div class="error edit-details error-list">
                <th:block th:each="error: ${valueErrors}">
                    <p class="error" th:text="${valueErrors[error.key]}"></p>
                </th:block>
            </div>
        </th:block>

        <button type="submit" class="update-btn">Save</button>
    </form>
</div>