<div class="user-details">
    <div class="profile-details"
         th:object="${profileDetails}">
        <div th:if="*{fullName != null}" class="personal">
            <p class="name"
               th:text="'Name: ' + *{fullName}"></p>
            <p class="username"
               th:text="'Username: ' + *{username}"></p>
            <p th:if="*{dob != null}" class="dateOfBirth"
               th:text="'Birthday: ' + *{dob}"></p>
        </div>

        <div th:if="*{imgUrl != null}" class="profile-image">
            <img th:src="*{imgUrl}" alt=""/>
        </div>
        <div th:unless="*{imgUrl != null}" class="profile-image">
            <i class="fa-solid fa-user"></i>
        </div>

        <div class="contact">
            <p th:if="*{email != null}" class="email"
               th:text="'Email: ' + *{email}"></p>
            <p th:if="*{phoneNumber != null}" class="phoneNumber"
               th:text="'Phone: ' + *{phoneNumber}"></p>
            <p th:if="*{address != null}" class="address"
               th:text="'Address: ' + *{address}"></p>
        </div>
    </div>
</div>