<h4><a th:href="@{'/news/view/' + ${article.id}}" th:text="${article.header}"></a></h4>
<div class="posted-on">
    Posted on <a href="#"
                 th:text="${#temporals.format(article.uploadDate, 'yyyy-MM-dd HH:mm')}"></a>
</div>
<a class="comments"
   th:if="${article.comments != null}"
   th:href="@{'/news/view/' + ${article.id}}"
   th:text="${article.comments.size()} + ' Comments'"></a>
<p th:text="${article.content}"></p>
<a class="read-more" th:href="@{'/news/view/' + ${article.id}}">Read More</a>
