<form class="news new" th:action="@{'/news/new'}" th:method="post">
    <a href="/news" class="xmark"><i class="fa-solid fa-xmark"></i></a>

    <input class="header" name="header" placeholder="Add header"
           th:value="${articleDto.header}"/>

    <textarea class="note-text" name="content" placeholder="Add text"
              th:text="${articleDto.content}"></textarea>

    <th:block th:if="${valueErrors != null && !valueErrors.isEmpty()}">
        <div class="error new-note error-list">
            <th:block th:each="error: ${valueErrors}">
                <p class="error" th:text="${valueErrors[error.key]}"></p>
            </th:block>
        </div>
    </th:block>

    <button class="create">Create</button>
</form>
