<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="~{fragments/head}"></th:block>
<body>
<div id="root">
    <main th:class="${pageName ?: 'home'}">
        <th:block th:insert="~{fragments/nav}"></th:block>
        <th:block th:insert="~{fragments/footer}"></th:block>
        <th:block th:insert="~{${'fragments/' + (pageName ?: 'home')}}"></th:block>
        <th:block th:if="${loadModal != null}">
            <th:block th:if="${loadModal == 'login'}" th:insert="~{fragments/login}"></th:block>
            <th:block th:if="${loadModal == 'register'}" th:insert="~{fragments/register}"></th:block>
        </th:block>

    </main>
</div>
</body>
</html>