<!doctype html>
<html lang="en">
<th:block th:insert="~{fragments/head}"></th:block>
<body>
<div id="root">
    <main>
        <th:block th:insert="~{fragments/nav}"></th:block>
        <th:block th:insert="~{fragments/footer}"></th:block>

        <div class="content err">
            <div class="error-page server-error">
                <i class="fa-solid fa-skull-crossbones"></i>

                <p>Our server seems to dislike your request and has its own opinion about completing it.</p>
                <p>We will check the reason and fix it.</p>
            </div>
        </div>

    </main>
</div>
</body>
</html>